//Base
$base-font-color: $rollingstone;

//Container
$container-border-color: $royalblue;

//Header
$header-background: $royalblue;
$header-font-color: $white;

//User
$user-logo-background: $endeavour;
$user-border: $bombay;

//Lists
$add-list-color: $blueribbon;
$new-list-input-border: $bombay;
$new-list-submit-background: $blueribbon;
$new-list-submit-color: $white;
$list-active: $junglegreen;

//Info
$info-font-color: $white;

//Todos
$todos-background: $athensgray;
$todos-border: $bombay;
$todo-background: $white;
$todo-icon-fill: $royalblue;
$todo-add-color: $blueribbon;
$new-todo-submit-background: $blueribbon;
$new-todo-submit-color: $white;

//Error
$new-item-validation-error: $carnation;