//Font-family
$regular-font: 'Roboto', sans-serif;
$thin-font: 'Roboto Thin', sans-serif;
$bold-font: 'Roboto Bold', sans-serif;

//Font-size
$header-font-size: 16px;
$base-font-size: 18px;
$list-amount-size: 14px;
$new-list-inputs: 15px;
$list-active-size: 21px;
$info-list-size: 60px;
$info-date-size: 22px;
$todo-list-size: 12px;
$todo-deadline-size: 12px;
$new-todo-inputs: 15px;

//Colors
$white: #ffffff;
$royalblue: #3e69e4;
$endeavour: #005cb9;
$blueribbon: #2465f7;
$carnation: #f86868;
$junglegreen: #26B99A;
$bombay: #b1b2b5;
$rollingstone: #808285;
$athensgray: #f7f7fa;

//Error
$new-item-error: 12px;
